.Footer-Sec{
    display: flex;
    position: absolute;
    width: 100%;
    height: 410px;
    top: 3900px;
    background: #706E6E;
}
.ContactUs{
    /* background-color: aqua; */
    width: 350px;
    height: 80px;
    margin-top: 13px;
    margin-left: 250px;
}
.contact{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;
text-align: center;
color: #FFFFFF; 
}
.line{
    width: 350px;
}
.Be-Social{
    width: 350px;
    height: 80px;
    margin-top: 13x;
    margin-left: 400px;
    /* background-color: aquamarine; */
}
.social{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;  
}
.line2{
    width: 350px;
}
.footer-info-sec{
    /* background-color: rgb(53, 81, 81); */
    position: absolute;
    left: -1px;
    width: 355;
    height: 270px;
    margin-top: 115px;
    margin-left: 150px;
    
}
.address-cont-footer{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.phone{
    margin-top: 58px;
}
.socialImg-sec{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 516px;
    height: 120px;
    left: 933px;
    top: 141px;
}
.fb,.tweet,.linked,.insta{
    width: 136.27px;
    height: 120px;
}