.pillar-component{
    display: flex;
    flex-direction: row;
}
.pillar-sec1,.pillar-sec2,.pillar-sec3,.pillar-sec4{
    width: 230px;
    height: 250px;
    left: 125px;
    top: 102px;
    margin-right: 25px;
    background: #4C4A4A;
    border-radius: 20px;
}
.pillar-img1,.pillar-img2,.pillar-img3{
    display: flex;
    margin-top: 45px;
    margin-left: 50px;   
}
.pillar-img4{
    display: flex;
    margin-top: 75px;
    margin-left: 50px;   
}
.changenz-text,.Tent-App-Text,.Olisting-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
}
.PMA-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;  
}
